################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CBI.TestHelperExtensions/bin
/CBI.TestHelperExtensions/obj
/TestHelperExtensions.NuGet/bin
/TestHelperExtensions.NuGet/obj
/TestHelperExtensions.Test/bin
/TestHelperExtensions.Test/obj
